@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
.show-letter{
    background-color: dodgerblue;
    padding: 0 25px;
    margin: 20px 20px 20px 0;
    /* width: 50px; */
    text-align: center;
    font-weight: bold;
    color: white;
    box-shadow: 5px 5px 10px black;
    font-family: "Shrikhand";
    font-size: 60px;
}
